@import "../../../styles/globle.scss";
.coreTeam {
  margin-top: 200px;
  margin-bottom: 120px;
  background-color: $primaryColor;
  border-radius: 156px 0 156px 0;
  @media (max-width: 1024px) {
    padding-top: 200px;
  }
  @media (max-width: 834px) {
    margin-top: 114px;
    margin-bottom: 114px;
    border-radius: 50px 0 50px 0;
  }
  @media (max-width: 425px) {
    margin-bottom: 60px;
  }
  @media (max-width: 375px) {
    margin-top: 90px;
    margin-bottom: 60px;
  }
  @media (max-width: 320px) {
    margin-bottom: 40px;
  }
  .container {
    @media (max-width: 425px) {
      max-width: 425px;
      padding-left: 20px;
    }
  }
  .webAndMobileImg {
    display: flex;
    position: relative;
    padding-bottom: 24px;
    @media (max-width: 1024px) {
      padding-bottom: 20px;
    }
    @media (max-width: 425px) {
      overflow-x: clip;
    }
    @media (max-width: 320px) {
      padding-bottom: 0;
    }
    .divoo {
      .teamMobileImg {
        width: 26%;
        position: relative;
        margin-top: -90px;
        right: 0;
        z-index: 999;
        @media (max-width: 1024px) {
          margin-top: -256px;
        }
        @media (max-width: 425px) {
          width: 30%;
        }
        @media (max-width: 320px) {
          top: -51px;
        }
      }
      .imageofimage {
        position: absolute;
        z-index: 1;
        top: -72px;
        left: 17.5px;
        width: 24%;
        border-radius: 34px;
        @media (max-width: 1440px) {
          top: -74px;
        }
        @media (max-width: 1200px) {
          top: -76px;
          left: 10.5px;
          border-radius: 14px;
        }
        @media (max-width: 1024px) {
          top: -246px;
          left: 10px;
        }
        @media (max-width: 834px) {
          top: -246px;
          left: 6px;
          border-radius: 10px;
        }
        @media (max-width: 768px) {
          top: -246px;
          left: 6px;
          border-radius: 18px;
        }
        @media (max-width: 425px) {
          top: -223px;
          left: 25px;
          border-radius: 8px;
          width: 26%;
        }
        @media (max-width: 375px) {
          top: -194px;
          left: 25px;
          border-radius: 8px;
          width: 26%;
        }
        @media (max-width: 320px) {
          top: -212px;
          left: 24px;
          border-radius: 8px;
          width: 26%;
        }
      }
    }
    .coreTeamMobileImg {
      position: absolute;
      top: -160px;
      right: 0;
      border-radius: 20px;
      width: 78%;
      @media (max-width: 1440px) {
        top: -149px;
        right: 0;
        width: 77%;
      }
      @media (max-width: 1024px) {
        top: -295px;
        right: 0;
        width: 77%;
      }
      @media (max-width: 425px) {
        top: -275px;
        right: -66px;
        width: 92%;
      }
      @media (max-width: 375px) {
        top: -241px;
        right: -66px;
        width: 92%;
      }
      @media (max-width: 320px) {
        top: -254px;
        right: -66px;
        width: 92%;
      }
    }
  }
}
h1 {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 66px;
  color: $whiteColor;
  @media (max-width: 1024px) {
    font-size: 32px;
  }
  @media (max-width: 834px) {
    font-size: 28px;
    line-height: 25px;
  }
  @media (max-width: 768px) {
    font-size: 26px;
    line-height: 22px;
  }
  @media (max-width: 425px) {
    font-size: 16px;
    line-height: 22px;
  }
}
.btnDiv {
  padding: 26px 0 44px 0;
  @media (max-width: 768px) {
    padding: 24px 0 34px 0;
  }
  @media (max-width: 425px) {
    padding: 14px 0 28px 0;
  }
}
