@import "../../styles/globle.scss";
.header {
  width: 100%;
  background: $whiteColor !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px !important;
  padding-inline: 216px !important;
  border-bottom: 2px solid #eeeeee;
  @media (max-width: 1440px) {
    padding-inline: 100px !important;
  }
  @media (max-width: 1024px) {
    padding-inline: 60px !important;
  }
  @media (max-width: 425px) {
    padding-inline: 30px !important;
  }
  .logo {
    display: flex;
    align-items: center;
    a {
      display: flex;
    }
    @media (max-width: 425px) {
      img {
        width: 120px;
      }
    }
  }
  .hamBurgerMenu {
    display: none;
    @media (max-width: 768px) {
      display: inherit;
    }
  }

  .allNavLinks {
    display: flex;
    gap: 50px;
    @media (max-width: 1024px) {
      gap: 30px;
    }

    .navLink {
      color: $blackColor;
      font-weight: 500 !important;
      font-size: 24px !important;
      transition: all 0.5s ease-in-out;
      @media (max-width: 1024px) {
        font-size: 22px !important;
      }
      &:hover {
        transform: translateX(-5px);
        color: $primaryColor;
        font-weight: 500 !important;
      }
    }
    .activeClassName {
      font-weight: 500 !important;
      font-size: 24px !important;
      color: $primaryColor;
      transition: all 0.5s ease-in-out;
      @media (max-width: 1024px) {
        font-size: 22px !important;
      }
      &:hover {
        transform: translateX(-5px);
        color: $primaryColor;
        font-weight: 500 !important;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.drawerMenu {
  padding: 0 44px !important;
  .mobileNavLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .navLink {
      color: $blackColor;
      font-weight: 500 !important;
      font-size: 24px !important;
      border-bottom: 2px solid #eeeeee;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        color: $primaryColor !important;
        font-weight: 500 !important;
      }
    }
    .activeClassName {
      font-weight: 500 !important;
      font-size: 24px !important;
      color: $primaryColor;
      border-bottom: 2px solid #eeeeee;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .dropDownAndLogin {
    background-color: #f8f8f8;
    padding: 20px 44px;
    margin-top: 20px;
    .selectDown {
      border-bottom: 2px solid #eeeeee;
      div {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f8f8f8;
        border: none !important;
        font-family: $primary-font;
        font-weight: 500 !important;
        font-size: 28px;
        line-height: 33px;
        color: $textColor !important;
      }
    }
  }
}
