@import "../../styles/globle.scss";

.features-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 120px;

  @media (max-width: 768px) {
    margin: 5%;
    padding: 0;
    gap: 60px;
  }

  @media (max-width: 425px) {
    margin: 7%;
    padding: 0;
  }
}

.features-description {
  font-family: $extra-font;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 10px;
    gap: 30px;
  }
  @media (max-width: 425px) {
    font-size: 16px;
  }
}
