@import "../../styles/globle.scss";

.footer {
  padding: 50px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .dd-input {
    display: none;
  }

  @media (max-width: 425px) {
    .dd-input + label {
      display: flex;
      border-bottom: 1px solid rgba(137, 137, 137, 0.17);
      margin-top: 25px;
      position: relative;
      transition: all 0.3s ease-in-out;
      ::after {
        content: "\002B";
        position: absolute;
        right: 0;
        transform: translate(-50%);
      }
    }
    .dd-input:checked + label {
      margin-bottom: 20px;
      ::after {
        content: "\2212";
      }
    }
    .dd-input ~ p {
      display: none;
    }
    .dd-input:checked ~ p {
      display: block;
    }
  }
  background-color: $whiteColor;
  border-top: 2px solid #eeeeee;
  h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 26px;
    font-family: $primary-font !important;
    @media (max-width: 1024px) {
      font-size: 18px;
    }
    @media (max-width: 834px) {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 26px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 26px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
      line-height: 10px;
      margin-bottom: 26px;
    }
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    font-family: $primary-font !important;
    cursor: pointer;
    &:hover {
      color: $primaryColor;
    }
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media (max-width: 834px) {
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 16px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 16px;
    }
  }
  .lastFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
    svg {
      width: 44px;
    }
    @media (max-width: 1024px) {
      margin-top: 38px;
      svg {
        width: 38px;
      }
    }
    @media (max-width: 834px) {
      margin-top: 40px;
      svg {
        width: 36px;
      }
    }
    @media (max-width: 768px) {
      margin-top: 40px;
      svg {
        width: 36px;
      }
    }
    @media (max-width: 425px) {
      margin-top: 20px;
      svg {
        width: 30px;
      }
    }
    .footerIcons {
      display: flex;
      gap: 14px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media (max-width: 425px) {
        gap: 10px;
      }
    }
    .companyTag {
      p {
        font-weight: 300;
        font-size: 18px;
        font-family: $primary-font !important;
        margin-bottom: 0 !important;
        @media (max-width: 1024px) {
          font-size: 16px;
        }
        @media (max-width: 834px) {
          font-size: 14px;
        }
        @media (max-width: 768px) {
          font-size: 14px;
        }
        @media (max-width: 425px) {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
